ion-card {
    --background: #F7F7F7;

  }



#scale1 {
    --background: #eff3ff;
    --color: black;
}

#scale2 {
    --background: #c6dbef;
    --color: black;
}

#scale3 {
    --background: #9ecae1;
    --color: black;
}

#scale4 {
    --background: #6baed6;
    --color: black;
}
#scale5 {
    --background: #4292c6;
    --color: black;
}
#scale6 {
    --background: #2271b5;
    --color: black;
}
#scale7 {
    --background: #084594;
    --color: black;
}
